
#svg {
    margin-left: 330px;
}

.mini_axis text { 
    display: none;
}

#navv {
    background-color: white;
    width: 300px;
    position: fixed;
    margin: 5px;
}

#timelineDes {
    border-left: 3px solid #eee;
    padding-left: 2px;
}

#timelineTitle {
    border-left: 3px solid #eee;
    padding-left: 2px;
}

/* for d3 plotting */
.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.mini_axis path, .mini_axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.selected {
    stroke: #6C7A89;
    stroke-width: 5;
}

.mini_selected {
    stroke: #6C7A89;
    stroke-width: 2;
}
