
#svg {
    margin-left: 330px;
}

.mini_axis text { 
    display: none;
}

#div_3a {
    background-color: white;
}

#timelineDes {
    background-color: #eee;
    padding: 5px;
}

#timelineTitle {
    background-color: #eee;
    padding: 5px;
}
